*.o
/release
/sht3x/sht3x_example_usage
/sht3x/user_config.inc
/sht4x/sht4x_example_usage
/sht4x/user_config.inc
/shtc1/shtc1_example_usage
/shtc1/user_config.inc
/sht-common/sht_git_version.c
i2c-mux-testbed/
tests/sht3x-test-hw_i2c
tests/sht3x-test-sw_i2c
tests/sht4x-test-hw_i2c
tests/sht4x-test-sw_i2c
tests/shtc1-test-hw_i2c
tests/shtc1-test-sw_i2c

